# =========================
# Datasets
# =========================
data/raw/*.csv
data/processed/*.csv

# =========================
# Model Files
# =========================
*.pt
*.pth
*.bin

# =========================
# Python Cache
# =========================
__pycache__/
*.pyc

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Virtual Environment
# =========================
venv/
.env

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db